h1 {
    color: #FF0000;
    background-color: #B8D3E0;
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    border: 5px ridge  #FF0000;
    border-radius: 50%;
    width: 30%;
    margin-left: 30%;
    margin-top: 5%;
}
body {
     padding: 20px;
     background-color: #A6A6A6;
}

 
button:hover,
:active{ 
  background-color: #7ED0D9;
  color: yellow;
}
button{
    align-items: center;
    font-size: 30px;
    margin-left: 40%;
    margin-top: 20px;
    color: #FF0000;
    outline-color: #FF0000;
}