div.loginContainer {
    text-align: center;
    font-size: 50px;
    padding: 40px;
    
    
    
    
}
​
input {
    font-size: 50px;    
color:#1DA1F2;
    padding: 50px;
    
}
​


​
button.Button {
    margin-top: 25px;
    padding: 5%;
    
    color: dodgerblue;
    font-size: 45px;
    border-radius: 30px;
    
    font-size: 50px;
    
}
​
Button:hover {
    background-color: rgb(135, 196, 250);
    
   
}
