.twitterContainer{
    padding: 0%;
    margin:0%;
    
}

input.userName {
    
    padding: 1%;
    margin-bottom: 1%;
    border: none;
    background-color: rgb(169,169,169);
    color: whitesmoke;
    
    margin-right: 1%;
}
​
input.atName {
    
    color: lightblue;
    margin-bottom: 1%;
    padding: 10%;


    background-color:#1DA1F2;
}
​
.textBox {
    font-size: 17px;
    padding: 1%;
    margin-bottom: 2%;
    color:#1DA1F2;
    background-color: lightblue;
    
}
#tweetArea{
    background-color: #DCDCDC;
    border-top: 1px  ridge #1DA1F2;

    
}