
​
​
.twitterCritter{
    text-align: center;
   margin-bottom: 50px; 
   margin-top: 20px;
   font-size: 45px;
   color: RGB(29,161,242);
}
​
.homeContainer {
    text-align: center;
    width: 100%;
    background-size: 100%;
}
h1.homeWords:hover{
    letter-spacing: 6px;
    color: firebrick;
}
h1.homeWords{
    color: RGB(29,161,242);
    padding:  10px;
    padding-bottom: 5%;
text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 75px;
    text-shadow:0px 0px 0 rgb(137,156,213),1px 1px 0 rgb(129,148,205),2px 2px 0 rgb(120,139,196),3px 3px 0 rgb(111,130,187),4px 4px 0 rgb(103,122,179),5px 5px 0 rgb(94,113,170),6px 6px 0 rgb(85,104,161),7px 7px 0 rgb(76,95,152),8px 8px 0 rgb(68,87,144),9px 9px 0 rgb(59,78,135),10px 10px 0 rgb(50,69,126),11px 11px 0 rgb(42,61,118),12px 12px 0 rgb(33,52,109),13px 13px 0 rgb(24,43,100),14px 14px 0 rgb(15,34,91),15px 15px 0 rgb(7,26,83),16px 16px 0 rgb(-2,17,74),17px 17px 0 rgb(-11,8,65),18px 18px 0 rgb(-19,0,57),19px 19px 0 rgb(-28,-9,48), 20px 20px 0 rgb(-37,-18,39),21px 21px 20px rgba(0,0,0,1),21px 21px 1px rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2);
}

h1:hover{
    letter-spacing: 6px;
    color: firebrick;
    

}
h1{
color: RGB(29,161,242);
padding: 0.5%;

font-size: 100px;

text-align: center;
text-shadow:0px 0px 0 rgb(137,156,213),1px 1px 0 rgb(129,148,205),2px 2px 0 rgb(120,139,196),3px 3px 0 rgb(111,130,187),4px 4px 0 rgb(103,122,179),5px 5px 0 rgb(94,113,170),6px 6px 0 rgb(85,104,161),7px 7px 0 rgb(76,95,152),8px 8px 0 rgb(68,87,144),9px 9px 0 rgb(59,78,135),10px 10px 0 rgb(50,69,126),11px 11px 0 rgb(42,61,118),12px 12px 0 rgb(33,52,109),13px 13px 0 rgb(24,43,100),14px 14px 0 rgb(15,34,91),15px 15px 0 rgb(7,26,83),16px 16px 0 rgb(-2,17,74),17px 17px 0 rgb(-11,8,65),18px 18px 0 rgb(-19,0,57),19px 19px 0 rgb(-28,-9,48), 20px 20px 0 rgb(-37,-18,39),21px 21px 20px rgba(0,0,0,1),21px 21px 1px rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2);
}

h3.homeWords:hover{
    color: firebrick;
    letter-spacing: 8px 8px;
}


h3.homeWords{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(255,250,205);
    font-size: 20px;
    color:RGB(29,161,242);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    padding: 20px;
    font-size: 46px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);

}
img:hover{
    letter-spacing: 6px;
}
img{
    height: 70px;
    margin-left: 140vh;
    color:RGB(29,161,242);
    
    
    
}
