.home{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #95A3A6;
    height: 800px;
    
    
    align-items: center;

}    

.bio{
font-size: 20px;
display: grid;
color: #FDFDFE;
margin-bottom: 40%;
margin-left:27%;
font-family: 'Teko', sans-serif;
width: 50%;


}

img {
    border: 5px solid #1F0954;;
    width: 700px;
    height:300px;
    margin-left: 30%;
    
    box-shadow:  6px 6px 16px #cecece,
             -6px -6px 16px #f2f2f2;
    
    
}
.title{
    font-size: 80px;
    text-align: center;
    padding-bottom: 30px;
    color: #1F0954;
    font-family: 	Papyrus;
    text-decoration: underline;
    margin-left: 30px;
    
             
}

 