.home{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #95A3A6;
    height: 700px;
    margin-top: 2%;
    align-items: center;

}    

.bio{
font-size: 25px;
text-align: center;
display: flex grid;
color: #FDFDFE;
margin: 20px;
padding: auto;
font-family: 'Teko', sans-serif;
line-height: 40px;
letter-spacing: 0px;
}

img {
    border: 5px solid #1F0954;;
    width: 700px;
    height:300px;
    margin-left: 25%;
    box-shadow:  6px 6px 16px #cecece,
             -6px -6px 16px #f2f2f2;
    
    
}
.title{
    font-size: 80px;
    text-align: center;
    padding-bottom: 30px;
    color: #1F0954;
    font-family: 	Papyrus;
    text-decoration: underline;
    margin-left: 30px;
    
             
}

 